#chatrooms {
  width: 50%;
  height: auto;
  padding-right: 5px;
  background-color: gray;
}

.chatroom {
  font-family: inherit;
  text-align: left;
  width: 100%;
  margin-right: 5px;
  padding: 5px;
  border: 0;
}

.chatroom:focus {
  outline: none;

}

.chatroom.selected {
  background: rgb(69, 152, 254);
}

.chatroom:hover {
  background: rgb(111, 211, 250);
  cursor: pointer;
}
